.games {
	padding: 2rem 0;

	&__game {
		font-size: 4rem;
		line-height: 5rem;
		font-weight: 300;
		list-style: none;
		color: $color-black;

		&--img {
			height: 4rem;
			transform: translateY(1rem);
		}

		&--link:link,
		&--link:visited,
		&--link:hover,
		&--link:active {
			color: currentColor;
			text-decoration: none;
		}

		&--construction:link,
		&--construction:visited,
		&--construction:hover,
		&--construction:active {
			text-decoration: line-through;
			color: rgba($color-black, .75);
		}
	}
}
