.grid {
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	width: 300px;

	@media only screen and (min-width: 481px) {
		height: 420px;
		width: 420px;
	}

	@media only screen and (min-width: 769px) {
		height: 700px;
		width: 700px;
	}

	@media only screen and (min-width: 1025px) {
		height: 1000px;
		width: 1000px;
	}

	@media only screen and (min-width: 1201px) {
		height: 1150px;
		width: 1150px;
	}
}

.match {
	position: fixed;
	top: 0;
	left: 0;
	font-size: 10rem;
	font-weight: 600;
	line-height: 100vh;
	width: 100%;
	text-align: center;
	color: black;
	display: none;
	cursor: pointer;
}
